#header a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    float: right;
    margin-left: 20px;
}
.about{
    /* width: 60%;  */
    display: grid;
    place-items: center;
}
.about p{
    text-transform: uppercase;

}
.dis{
    display: grid;
    place-items: center;
    /* border: 2px solid black; */
    background-color: rgb(141, 209, 209);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact{
    display: grid;
    background-color: rgb(231, 221, 240);
    place-items: center;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
}

.contact form{
    margin-bottom: 20px;
}

.contact form input{
    width: 200px;
    height: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    background-color: aliceblue;
}


.contact textarea{
    width: 200px;
    height: 25%;
    margin-bottom: 10px;
    padding: 10px;
}
body{
    padding: 1rem;
    display: grid;
}

.bod{
    display: grid;
    place-items: center;
}
img{
    max-width: 50px;
}
#logo img{
    float: left;
}
.aside{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr ;
    margin-top: 40px;
}
.contact button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 221, 240);
    margin-left: 70px;
    margin-top: 15px;
}
.login{
    display: grid;
    place-items: center;
    margin-top: 5rem;
    color: rgb(1, 19, 19);
    font-weight: 900;
}
#log{
    margin-top: 40px;
}
#log label{
    margin-left: 60px;
}

#log input{
   width: 200px;
   height: 40px;
   border-color: rgb(228, 227, 240);
   background-color: transparent;
   margin-top: 20px;

}
.login button{
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(228, 227, 240);
    margin-left: 70px;
    margin-bottom: 20px;
}
.bo{
    background-color: rgb(211, 169, 176);
}

.register{
    padding: 1rem;
    text-transform: uppercase;
    background-color:rgb(211, 169, 176);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    place-items: Center;
}
.register form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.register button{
    margin-left: -80px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}
.register input{
    width: 180px;
    height: 25px;
    background-color: transparent;
}
.register select{
    background-color: transparent;
}
.bod{
    display: grid;
}

#head a{
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    float: right;
}

#header a{
    padding: 10px;
    background-color: aqua;
    border-radius:15px;
}
#header :hover{
    background-color: black;
    color: aqua;
}

.calculator{
    margin-top: 10px;

}
/* td, tr{
 border: 2px solid;
} */


.hom{
    background-color: antiquewhite;
}
.wit{
    width: 80px;
}
table, td{
    width: 300px;
    height: 50px;
}
table input{
    padding: 20px;
}
.cac{
    display: grid;
    place-items: center;
}
.sim{
    margin-top: 20px;
    height: 600px;
    width: 400px;
    background-image: url(./images/simi.jpg);
    background-size: cover;
}
.sim h3{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}


